<template>
    <div class="container">
        <gmap-map
            :center="center"
            :zoom="14"
            style="width:100%;  height: 400px;"
        >
            <gmap-marker
                :key="index"
                v-for="(m, index) in markers"
                :position="m.position"
                @click="center=m.position"
            ></gmap-marker>
        </gmap-map>
    </div>
</template>

<script>
    export default {
        name: "RestaurantComponent",
        data() {
            return {
                center: { lat: 13.816317, lng: 100.5304357 },
                markers: [],
                places: [],
                currentPlace: null,
                results: []
            };
        },

        mounted() {
            this.geolocate();
        },
        created() {
            axios.get('http://localhost:8080/api/restaurant/').then(response => {
                var responses = response.data.results;
                for (var i = 0; i < responses.length; i++) {
                    this.addMarker(responses[i])
                }
            })
        },
        methods: {
            setPlace(place) {
                this.currentPlace = place;
            },
            addMarker(currentPlace) {

                if (currentPlace.geometry.location) {
                    const marker = {
                        lat: currentPlace.geometry.location.lat,
                        lng: currentPlace.geometry.location.lng
                    };
                    this.markers.push({ position: marker });
                    this.places.push(this.currentPlace);
                    this.center = marker;
                    this.currentPlace = null;
                }

            },
            geolocate: function() {
                navigator.geolocation.getCurrentPosition(position => {
                    this.center = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                });
            }
        }
    };
</script>
